.top-part img{
    width: 280px;
}
.navi{
    color:  #363958;
    font-weight: 500;
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    border: 0;
    background-color: white;
}
.half-width img{
    width: 70px;
}

.last-sec i{
   font-size: 2em;
}
.bottom-sec{
    border-radius: 1em;
}
@media (max-width:768px){
    .top-image img{
        width: 335px;
    }
}
@media (max-width:768px){
    .top-section{
        margin-top: 30px; 
    }
.cart-pic img{
        width: 420px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}
