.top-part img{
    width: 280px;
}
.navi{
    color:  #363958;
    font-weight: 500;
}
.top-image img{
    width: 400px;
}
.woman-jacket-two img{
    width: 262px;
}
.woman-jacket-three img{
    width: 288px;
}
.men-jacket-one img{
    width: 220px;
}
.men-jacket-two img{
    width: 282px;
}
.men-jacket-three img{
    width: 223px;
}
.penguin-card{
    border: 0;
}
.penguin-card-footer{
    border: 0;
    background-color: white;
}
.half-width img{
    width: 70px;
}
.cart-pic img{
    width: 630px;
}
.last-sec i{
   font-size: 2em;
}
.bottom-sec{
    border-radius: 1em;
}
@media (max-width:768px){
    .top-image img{
        width: 335px;
    }
}
@media (max-width:768px){
    .cart-pic img{
        width: 420px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
}
