.top-part img{
    width: 280px;
}
.navi{
    color: #3C3C3C;
    font-weight: 500;
}
.top-image img{
    width: 400px;
}
.woman-jacket-two img{
    width: 262px;
}
.woman-jacket-three img{
    width: 287px;
}
.men-jacket-one img{
    width: 220px;
}
.men-jacket-two img{
    width: 284px;
}
.men-jacket-three img
{
    width: 240px;
}
@media (max-width:768px){
    .top-image img{
        width: 335px;
    }
}
